# paths to exclude from ignore:
#
# app/code/community/Swiftcore
# app/design/frontend/base/default/layout/swiftcore
# app/design/frontend/base/default/template/devtoolbar
# app/skin/swiftcore
# app/etc/modules/Swiftcore_*.xml

/*
!/app
/app/*
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Swiftcore
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/swiftcore
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/swiftcore
!/app/skin
/app/skin/*
!/app/skin/swiftcore
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Swiftcore_*.xml
!.gitignore
